<footer>
  <div class="container">
    <div class="row">
      {% if page.footer_first %}
        {{ page.footer_first }}
      {% endif %}

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        {% if page.footer_second %}
          {{ page.footer_second }}
        {% endif %}
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        {% if page.footer_third %}
          <h6 class="text-uppercase font-weight-bold mb-4">{{'CONTACT US'}}</h6>
          {{ page.footer_third }}
        {% endif %}
      </div>
      <div class="col-lg-2 col-md-6 mb-lg-0">
          {% if page.footer_forth %}
            <h6 class="text-uppercase font-weight-bold mb-4">{{'Connect'}}</h6>
            {{ page.footer_forth }}
          {% endif %}

      
      </div>
    </div>
  </div>
    
</footer>