
{% import _self as menus %}


{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
   
    {% if menu_level == 0 %}
		{% set menu_li = 'nav-item' %}
		{% set menu_a = 'text-link-7' %}
	  <ul{{ attributes.addClass('list-unstyled menu-toggle-open') }}>
    {% elseif menu_level == 1 %}
		{% set menu_li = 'nav-dropdown-item' %}
		{% set menu_a = 'nav-dropdown-link' %}
      <ul class="nav-dropdown">
	 {% else %}
	 	{% set menu_li = 'nav-subdropdown-item' %}
		{% set menu_a = 'nav-subdropdown-link' %}
		 <ul class="nav-subdropdown">
    {% endif %}
	
	
	
	
		
    {% for item in items %}
		
	
	
      {%
        set classes = [
          'menu-item',
		  'nav-item',
		  menu_li,
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
          item.attributes.drp_class
        ]
      %}
      
	  <li {{ item.attributes.addClass(classes) }}><h6 class="font-weight-normal uppercase letter-spacing-2">
        {{ link(item.title, item.url, { 'class':[menu_a]}) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}

        {% endif %}

      </h6></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
