{%
	set classes = [
	  dom_id ? 'js-view-dom-id-' ~ dom_id,
	]
  %}
<div{{ attributes.addClass(classes) }}>
<!-- Heasder -->

 {% if header %}
    <div class="hero section">
			<div class="container">
				<div class="row">
          <div class="intro offset-lg-1 col-lg-10 text-center">
          {{ header }}
          </div>
        </div>
      </div>  
    </div>
  {% endif %}

<!-- filter links -->
  <div class="filtering text-center mb-30 col-sm-12">
    <div class="filter"> 
      {% if exposed %}
        {{ exposed }}
      {% endif %}
    </div>
  </div>

  <!-- gallery -->
  <div class="text-center home-gallery full-width home-background"> 
    {{ rows }}
    {{ empty }}
    {{ pager }}
    {{ more }}
  </div>
  {% if footer %}
    {{ footer }}
  {% endif %}

  </div>

