<div class="container-fluid">
	<div class="row">
		{% if header %}
			{{ header }}
		{% endif %}
		<div class="owl-carousel owl-theme full-width">
			{{ rows }}
			{{ empty }}
			{{ pager }}
			{{ more }}
		</div>
		{% if footer %}
			{{ footer }}
		{% endif %}
	</div>
</div>