<!-- filter links -->
<div class="filtering text-center mb-30 col-sm-12">
	<div class="filter"> 
		<span data-filter='*' class="active">All</span> 
		{% if header %}
			{{ header }}
		{% endif %}

	</div>
</div>
<div class="clearfix"></div>

<!-- gallery -->
<div class="gallery text-center full-width"> 
	{{ rows }}
	{{ empty }}
	{{ pager }}
	{{ more }}
</div>
{% if footer %}
	{{ footer }}
{% endif %}
